html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.hidden {
    display: none;
}

.canvas-map {
    width: 100vw;
    height: 100vh;
    padding: 0;
    border: 0;
    z-index: -10;
}

#title {
    margin-bottom: 40px;
}
#subtitle {
    font-size: 1.2rem;
    margin-bottom: 20px;
}
#preface-dialog {
    width: 100%;
    opacity: 0;
    position: absolute;
    left: 50%;
    bottom: 30vh;
    transform: translateX(-50%);
}
#app {
    opacity: 0;
    .container {
        z-index: 1000;
    }
}
#here-map {
    width: 100vw;
    height: 100vh;
}
.grey-bkg {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.6);
}
.center-padding {
    padding-top: 30vh;
    text-align: center;
}
.customized-btn {
    width: 160px;
    height: 50px;
    color: white;
    background-color: black;
    border: 0;
    border-radius: 10px;
    transition: 0.5s ease 0s;
    &:hover {
        background-color: grey;
    }
}

.input-fields {
    width: 100%;
    position: absolute;
    top: 50px;
    opacity: 0;
}
form {
    z-index: 1000;
    .invalid-feedback {
        font-size: 90%;
    }
    .alert {
        padding: 0.75rem 0.75rem;
    }
    .alert-info {
        margin-bottom: 5px;
        transition: 0.5s ease 0s;
        &:hover {
            cursor: pointer;
            background-color: #ebf7f9;
        }
    }
    button:disabled {
        cursor: wait;
    }
    .anime-control {
        position: absolute;
        right: 0;
        width: 100%;
    }
}

.info-card {
    position: absolute;
    left: 0;
    top: 0;
    width: 450px;
    max-width: 100vw;
    height: 100%;
    background-color: #f9f9f9;
    border-radius: 0 30px 30px 0;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
    z-index: 1200;
    .info-wrapper {
        position: relative;
        padding: 20px 15px;
        height: 100%;
        .close-btn {
            position: absolute;
            top: 25px;
            right: 30px;
            width: 40px;
            height: 40px;
            background-color: #f9f9f9;
            padding: 0;
            border: 0;
            border-radius: 50%;
            box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
            z-index: 1250;
            transition: 1s ease 0s;
            &:hover {
                box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
                transform: rotate(180deg);
            }
        }
        img {
            display: block;
            max-width: 100%;
            max-height: 100%;
            border-radius: 25px;
            background-size: cover;
        }
        h4 {
            text-align: center;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .info-btn {
            position: absolute;
            bottom: 20px;
            display: block;
            width: calc(100% - 2 * 15px);
            height: 40px;
            border-radius: 50px;
            box-shadow:
                -2px -4px 4px rgba(255, 255, 255, 1),
                2px 4px 4px rgba(0, 0, 0, 0.25);
        }
        .info-container {
            width: 100%;
            height: 370px;
            max-height: 50vh;
            padding: 10px 20px;
            position: relative;
            overflow-y: scroll;
            div {
                margin-bottom: 35px;
            }
            div > * {
                vertical-align: middle;
            }
            #address {
                margin-left: 20px;
            }
            #distance-from-you-to-pl {
                margin-left: 10px;
                margin-right: 40px;
            }
            span.badge {
                margin-left: 5px;
            }
            #distance-from-dest-to-pl {
                margin-left: 10px;
            }
            div[name='capacity/vacant'] button:first-child {
                margin-right: 10px;
            }
        }
        .routing-container {
            .heading {
                margin-bottom: 0;
            }
            h6 {
                display: inline-block;
                margin-bottom: 0;
            }
            button.btn-sm {
                font-size: 0.75rem;
                position: absolute;
                right: 20px;
            }
            hr {
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
            }
            small {
                font-style: italic;
            }
            .directions {
                font-size: small;
                padding-left: 1rem;
                margin-bottom: 1.5rem;
                li span.arrow {
                    position: relative;
                    top: 8px;
                    display: inline-block;
                    min-width: 28px;
                    min-height: 28px;
                    background-position: 0px;
                    background-image: url('https://heremaps.github.io/maps-api-for-javascript-examples/map-with-pedestrian-route-from-a-to-b/img/arrows.png');
                }
                li span.depart {
                    background-position: -28px;
                }
                li span.rightUTurn {
                    background-position: -56px;
                }
                li span.leftUTurn {
                    background-position: -84px;
                }
                li span.rightFork {
                    background-position: -112px;
                }
                li span.leftFork {
                    background-position: -140px;
                }
                li span.rightMerge {
                    background-position: -112px;
                }
                li span.leftMerge {
                    background-position: -140px;
                }
                li span.slightRightTurn {
                    background-position: -168px;
                }
                li span.slightLeftTurn {
                    background-position: -198px;
                }
                li span.rightTurn {
                    background-position: -224px;
                }
                li span.leftTurn {
                    background-position: -252px;
                }
                li span.sharpRightTurn {
                    background-position: -280px;
                }
                li span.sharpLeftTurn {
                    background-position: -308px;
                }
                li span.rightRoundaboutExit1 {
                    background-position: -616px;
                }
                li span.rightRoundaboutExit2 {
                    background-position: -644px;
                }
                li span.rightRoundaboutExit3 {
                    background-position: -672px;
                }
                li span.rightRoundaboutExit4 {
                    background-position: -700px;
                }
                li span.rightRoundaboutPass {
                    background-position: -700px;
                }
                li span.rightRoundaboutExit5 {
                    background-position: -728px;
                }
                li span.rightRoundaboutExit6 {
                    background-position: -756px;
                }
                li span.rightRoundaboutExit7 {
                    background-position: -784px;
                }
                li span.rightRoundaboutExit8 {
                    background-position: -812px;
                }
                li span.rightRoundaboutExit9 {
                    background-position: -840px;
                }
                li span.rightRoundaboutExit10 {
                    background-position: -868px;
                }
                li span.rightRoundaboutExit11 {
                    background-position: 896px;
                }
                li span.rightRoundaboutExit12 {
                    background-position: 924px;
                }
                li span.leftRoundaboutExit1 {
                    background-position: -952px;
                }
                li span.leftRoundaboutExit2 {
                    background-position: -980px;
                }
                li span.leftRoundaboutExit3 {
                    background-position: -1008px;
                }
                li span.leftRoundaboutExit4 {
                    background-position: -1036px;
                }
                li span.leftRoundaboutPass {
                    background-position: 1036px;
                }
                li span.leftRoundaboutExit5 {
                    background-position: -1064px;
                }
                li span.leftRoundaboutExit6 {
                    background-position: -1092px;
                }
                li span.leftRoundaboutExit7 {
                    background-position: -1120px;
                }
                li span.leftRoundaboutExit8 {
                    background-position: -1148px;
                }
                li span.leftRoundaboutExit9 {
                    background-position: -1176px;
                }
                li span.leftRoundaboutExit10 {
                    background-position: -1204px;
                }
                li span.leftRoundaboutExit11 {
                    background-position: -1232px;
                }
                li span.leftRoundaboutExit12 {
                    background-position: -1260px;
                }
                li span.arrive {
                    background-position: -1288px;
                }
                li span.leftRamp {
                    background-position: -396px;
                }
                li span.rightRamp {
                    background-position: -420px;
                }
                li span.leftExit {
                    background-position: -452px;
                }
                li span.rightExit {
                    background-position: -473px;
                }
                li span.ferry {
                    background-position: -1316px;
                }
            }
        }
    }
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    -webkit-border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.5);
}

.view-container {
    z-index: 2000;
}
#parking-lot-view {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e5e5e5;
    border: 2px solid #000000;
}
#parking-lot-view[resize] {
    width: 70vw;
    height: calc(70vw * 9 / 16);
}
.close-view-btn {
    position: absolute;
    top: 20px;
    right: 50px;
    padding: 0;
    border: 0;
    border-radius: 50%;
    background-color: transparent;
    transition: all 1s ease 0s;
    &:hover {
        background-color: #e5e5e5;
        transform: rotate(90deg);
    }
}

.dialog-box {
    width: 40vw;
    height: calc(40vw * 9 / 16);
    max-width: 396px;
    max-height: 222.75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    background-color: #f7f7f7;
    border: 0;
    border-radius: 15px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
    h4 {
        font-weight: bold;
        text-align: center;
        margin-bottom: 5px;
    }
    hr {
        margin-top: 0;
        margin-bottom: 20px;
    }
    .my-btn-group {
        width: calc(100% - 2 * 25px);
        position: absolute;
        left: 25px;
        bottom: 25px;
        button {
            min-width: 30%;
            margin-left: 25px;
        }
    }
}

@media only screen and (max-height: 736px) {
    #title {
        margin-bottom: 15px;
    }
    #subtitle {
        font-size: 1rem;
    }
    .info-container {
        max-height: 40vh;
    }
    .close-view-btn {
        right: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .input-fields {
        transform: translateX(15px);
    }

    #parking-lot-view[resize] {
        width: 100vw;
        height: calc(100vw * 9 / 16);
        max-height: 100vh;
    }

    .dialog-box {
        width: 70vw;
        height: calc(70vw * 9 / 16);
        max-height: 100vh;
        padding: 15px;
        hr {
            margin-bottom: 10px;
        }
        .my-btn-group {
            width: calc(100% - 2 * 15px);
            left: 15px;
            bottom: 15px;
            button {
                margin-left: 15px;
            }
        }
    }
}

$s1: '';
$s2: '';
$s3: '';
@for $i from 1 through 15 {
    $s1: $s1 + random(1000) * 0.1vw + ' ' + random(1000) * 0.1vh + ' ' + 0 + ' ' + random(50) * -0.01rem + #ffffff;
    $s2: $s2 + random(1000) * 0.1vw + ' ' + random(1000) * 0.1vh + ' ' + 0 + ' ' + random(50) * -0.01rem + #ffffff;
    $s3: $s3 + random(1000) * 0.1vw + ' ' + random(1000) * 0.1vh + ' ' + 0 + ' ' + random(50) * -0.01rem + #ffffff;
    @if $i < 15 {
        $s1: $s1 + ',';
        $s2: $s2 + ',';
        $s3: $s3 + ',';
    }
}
.snow {
    position: absolute;
    top: -100vh;
    border-radius: 50%;
    opacity: 0.8;
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.layer1 {
    width: 1.5rem;
    height: 1.5rem;
    filter: blur(1.5px);
    box-shadow: #{$s1};
    animation-duration: 20s;
}
.layer1.a {
    animation-delay: 10s;
}
.layer2 {
    width: 1.2rem;
    height: 1.2rem;
    filter: blur(3px);
    box-shadow: #{$s2};
    animation-duration: 24s;
}
.layer2.a {
    animation-delay: 12s;
}
.layer3 {
    width: 0.8rem;
    height: 0.8rem;
    filter: blur(6px);
    box-shadow: #{$s3};
    animation-duration: 28s;
}
.layer3.a {
    animation-delay: 14s;
}
@keyframes fall {
    100% { transform: translateY(200vh); }
}
