html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.hidden {
    display: none;
}

.canvas-map {
    width: 100vw;
    height: 100vh;
    padding: 0;
    border: 0;
    z-index: -10;
}

#title {
    margin-bottom: 40px;
}
#subtitle {
    font-size: 1.2rem;
}
#preface-dialog {
    opacity: 0;
}
#app {
    opacity: 0;
}
.grey-bkg {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
}
.center-padding {
    padding-top: 30vh;
    text-align: center;
}
.customized-btn {
    width: 160px;
    height: 50px;
    position: absolute;
    left: 50%;
    bottom: 30vh;
    transform: translateX(-50%);
    color: white;
    background-color: black;
    border: 0;
    border-radius: 10px;
    transition: 0.5s ease 0s;
    &:hover {
        background-color: grey;
    }
}
.harp-gl_controls {
    position: relative;
}

.input-fields {
    width: 100%;
    position: absolute;
    top: 50px;
    opacity: 0;
}
