html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.hidden {
    display: none;
}

.canvas-map {
    width: 100vw;
    height: 100vh;
    padding: 0;
    border: 0;
    z-index: -10;
}

#title {
    margin-bottom: 40px;
}
#subtitle {
    font-size: 1.2rem;
}
#preface-dialog {
    opacity: 0;
}
#app {
    opacity: 0;
    .container {
        z-index: 1000;
    }
}
#here-map {
    width: 100vw;
    height: 100vh;
}
.grey-bkg {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
}
.center-padding {
    padding-top: 30vh;
    text-align: center;
}
.customized-btn {
    width: 160px;
    height: 50px;
    position: absolute;
    left: 50%;
    bottom: 30vh;
    transform: translateX(-50%);
    color: white;
    background-color: black;
    border: 0;
    border-radius: 10px;
    transition: 0.5s ease 0s;
    &:hover {
        background-color: grey;
    }
}

.input-fields {
    width: 100%;
    position: absolute;
    top: 50px;
    opacity: 0;
}
form {
    z-index: 1000;
    .invalid-feedback {
        font-size: 90%;
    }
    .alert {
        padding: 0.75rem 0.75rem;
    }
    .alert-info {
        margin-bottom: 5px;
        transition: 0.5s ease 0s;
        &:hover {
            cursor: pointer;
            background-color: #ebf7f9;
        }
    }
    button:disabled {
        cursor: wait;
    }
    .anime-control {
        position: absolute;
        right: 0;
        width: 100%;
    }
}

.info-card {
    position: absolute;
    left: 0;
    top: 0;
    width: 450px;
    max-width: 100vw;
    height: 100%;
    background-color: #f9f9f9;
    border-radius: 0 30px 30px 0;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
    z-index: 1200;
    .info-wrapper {
        position: relative;
        padding: 20px 15px;
        height: 100%;
        .close-btn {
            position: absolute;
            top: 25px;
            right: 30px;
            width: 40px;
            height: 40px;
            background-color: #f9f9f9;
            padding: 0;
            border: 0;
            border-radius: 50%;
            box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
            z-index: 1250;
            transition: 1s ease 0s;
            &:hover {
                box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
                transform: rotate(180deg);
            }
        }
        img {
            display: block;
            max-width: 100%;
            max-height: 100%;
            border-radius: 25px;
            background-size: cover;
        }
        h4 {
            text-align: center;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .info-btn {
            position: absolute;
            bottom: 20px;
            display: block;
            width: calc(100% - 2 * 15px);
            height: 40px;
            border-radius: 50px;
            box-shadow:
                -2px -4px 4px rgba(255, 255, 255, 1),
                2px 4px 4px rgba(0, 0, 0, 0.25);
        }
        .info-container {
            width: 100%;
            padding: 10px 20px;
            div {
                margin-bottom: 35px;
            }
            div > * {
                vertical-align: middle;
            }
            #address {
                margin-left: 20px;
            }
            #distance-from-you-to-pl {
                margin-left: 10px;
                margin-right: 40px;
            }
            span.badge {
                margin-left: 5px;
            }
            #distance-from-dest-to-pl {
                margin-left: 10px;
            }
            div[name='capacity/vacant'] button:first-child {
                margin-right: 10px;
            }
        }
    }
}

#parking-lot-view {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e5e5e5;
    border: 2px solid #000000;
}
#parking-lot-view[resize] {
    width: 70vw;
    height: calc(70vw * 9 / 16);
}

@media only screen and (max-height: 736px) {
    #title {
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 768px) {
    .input-fields {
        transform: translateX(15px);
    }

    #parking-lot-view[resize] {
        width: 100vw;
        height: calc(100vw * 9 / 16);
    }
}
